<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KCrawler-开源云爬虫</title>
    <link href="/css/index.css" rel="stylesheet" type=text/css>
    <script src="/js/jquery-3.3.1.min.js"></script>
</head>
<body>
<input id="traceId" th:value="${traceId}" type="hidden">
<div class="wrapper" id="startCrawl">
    <div class="content">
        <div class="title">开始您的KCrawler云爬虫体验</div>
        <div class="inputBox"><input style="color: rgb(204, 204, 204);" type="text" value="请输入您想爬取的网页链接！"/><span
                class="button">开始爬取</span></div>
        <div class="more"><a href="./product.html">想要了解更多 &gt;</a></div>
    </div>
</div>
</body>
<script lang="javascript">
    /**
     * 判断IE
     */
    function isIE() {
        if (!!window.ActiveXObject || "ActiveXObject" in window) {
            return true;
        } else {
            return false;
        }
    }

    /**
     * 跳转到下一个页面
     */
    function doSelect(url) {
        window.location.href = "/select?traceId=" + $("#traceId").val() + "&url=" + url;
    }

    /**
     * 输入框及按钮的事件控制
     */
    var input = $("#startCrawl .inputBox input");
    input.on("focus", function () {
        input.val("").css({color: "#000"})
    }),
        input.on("blur", function () {
            "" == input.val() ? input.css({color: "#ccc"}).val("请输入您想爬取的网页链接") : input.css({color: "#000"})
        }), input.on("keyup", function (ev) {
        if (13 == ev.keyCode) {
            if ("" == ev.target.value.replace(/\s+/g, "") || ev.target.value.replace(/\s+/g, "") == "请输入您想爬取的网页链接".replace(/\s+/g, "") || ev.target.value.replace(/\s+/g, "") == "网址不能为空".replace(/\s+/g, "")) return void input.val("网址不能为空");
            window.isIE ? alert("监测到浏览器版本过低，请升级浏览器后试用") : i(ev.target.value)
        }
    }), $("#startCrawl .inputBox .button").on("click", function () {
        return "" == input.val().replace(/\s+/g, "") || input.val().replace(/\s+/g, "") == "请输入您想爬取的网页链接".replace(/\s+/g, "") || input.val().replace(/\s+/g, "") == "网址不能为空".replace(/\s+/g, "") ? void input.val("网址不能为空") : void (isIE() ? alert("监测到浏览器版本过低，请升级浏览器后试用") : doSelect(input.val()))
    })
</script>
</html>