body {
    background-color: #FFFCF9;
    overflow: hidden;
    text-align: center;

}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

svg {
    width: 100%;
    height: 400px;
    visibility: hidden;
    margin-top: -150px;
    margin-bottom: 80px;
}